@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&family=Raleway:wght@500;700&family=Rubik:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Mulish', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif;
}