@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&family=Raleway:wght@500;700&family=Rubik:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Mulish', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@layer components{

.dark-mode{
  @apply dark:bg-black  dark:text-white transition delay-100 ease-in-out
}
.dark-text{
  @apply dark:text-white transition delay-100 ease-in-out
}
.dark-btn{
  @apply dark:bg-brown dark:text-white  transition delay-100 ease-in-out
}
}